/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
    top: 30px;
}
/* Centered text */
.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 130%;
    transform: translate(-50%, -50%);
}

.about-stats{
  background-color: #212121;
  margin-bottom: 10%;
  margin-top: 0;
  top: -500px;
}
.bti{
  background-color: #272557;
  margin-bottom: 10%;
  margin-top: 0;
}
.bti-container {
    position: relative;
    text-align: center;
    color: white;
    top: -150px;
    left: -300px;
}
.bti-centered {
    position: absolute;
    top: 85%;
    left: 50%;
    width: 50%;
    transform: translate(120%, -90%);
}
.glimpse{
  background-color: #212121;
  margin-bottom: 0;

}

@media only screen and (max-width: 500px) {
  .container {
      position: relative;
      text-align: center;
      color: white;
      top: -100px;
      left: 2%;
  }
  /* Centered text */
  .centered {
      position: relative;
      top: 150%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -0%);
  }

  .about-stats{
    background-color: #212121;
    margin-bottom: 0%;
    margin-top: 0;
    top: -500px;
  }
  .bti{
    background-color: #272557;
    margin-bottom: 10%;
    margin-top: 0;
    left: 50%;
  }
  .bti-container {
      position: relative;
      text-align: center;
      color: white;
      top: -100px;
      left: 2%;
  }
  .bti-centered {
      position: relative;
      top: 150%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -8%);
  }
}
