<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Breeze'19</title>
  {% block title %}
  {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'assets/css/base2.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/vendor2.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/js/modernizr.js' %}"></script>
  <script src="{% static 'assets/js/pace.min.js' %}"></script>
  <link rel="shortcut icon" href="{% static 'assets/images/breeze/darklogo.ico' %}" >
  {% block extra %}
  {% endblock %}
</head>
<body id="top">
  {% block content %}
  {% endblock %}
  <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script type="text/javascript">

  $('#carouselExample').on('slide.bs.carousel', function (e) {


      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 3;
      var totalItems = $('.carousel-item').length;

      if (idx >= totalItems-(itemsPerSlide-1)) {
          var it = itemsPerSlide - (totalItems - idx);
          for (var i=0; i<it; i++) {
              // append slides to end
              if (e.direction=="left") {
                  $('.carousel-item').eq(i).appendTo('.carousel-inner');
              }
              else {
                  $('.carousel-item').eq(0).appendTo('.carousel-inner');
              }
          }
      }
  });
    $(document).ready(function() {
      $('a.thumb').click(function(event){
        event.preventDefault();
        var content = $('.modal-body');
        content.empty();
          var title = $(this).attr("title");
          $('.modal-title').html(title);
          content.html($(this).html());
          $(".modal-profile").modal({show:true});
      });

    });
  </script>
</body>
</html>
