<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0,
maximum-scale=1.0, user-scalable=no" />

    <title>Breeze'18</title>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'assets/css/breeze.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/ionicons/css/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/breeze.css' %}">
  <!-- <> -->
</head>

<body data-spy="scroll" data-target="#site-nav">
  <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
          <div class="container">
              <div class="navbar-header">

                  <!-- logo -->
                  <div class="site-branding">
                      <a class="logo" href="/">
                          Breeze'18
                      </a>
                  </div>

                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

              </div><!-- /.navbar-header -->

              <div class="collapse navbar-collapse" id="navbar-items">
                  <ul class="nav navbar-nav navbar-right">
                      <!-- navigation menu -->
                      <li><a href="#modalEvent" data-toggle="modal">Events</a></li>
                      <li><a href="/pronights">Pro Nights</a></li>
                      <li><a href="/accommodation">Accommodation</a></li>
                      <li><a href="/team">Team</a></li>
                      <li><a href="/partners">Partners</a></li>
                      <!--<li><a href="/static/Breeze_2018_Sponsorship_Brochure.pdf">Brochure</a></li>-->
                    {% if user.is_authenticated %}
                        <li class="dropdown hidden-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.profile.name }} <i class="ion-android-arrow-dropdown icon-ion"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/me">My Purchases</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <li><a class="visible-xs" href="/me">My Purchases</a></li>
                            <li><a class="visible-xs" href="/logout">Logout</a></li>
                        </li>

                    {% else %}
                        <li><a href="#modal" data-toggle="modal">Login & Register</a></li>
                    {% endif %}
                  </ul>
              </div>
          </div><!-- /.container -->
      </nav>

  {% block content %}{% endblock %}
  <footer class="site-footer">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <p class="site-info">For Any Queries, Please Call Us At<br><a href="tel:+918448774882">+91 8448774882</a></p><br>
                      <p class="site-info">&copy; 2018, Breeze.</p>
                      <ul class="social-block">
                          <li><a href="https://www.facebook.com/snu.breeze/"><i class="ion-social-facebook"></i></a></li>
                          <li><a href="https://twitter.com/snu_breeze"><i class="ion-social-twitter"></i></a></li>
                          <li><a href="https://www.instagram.com/breeze.snu/"><i class="ion-social-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </footer>
  <!-- script -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script>
        jQuery(window).load(function () {
            jQuery(".preloader").fadeOut(500);
        });
    </script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/smooth-scroll/dist/js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/login.js' %}"></script>
</body>
</html>