<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Breeze'19</title>
    {% load static %}
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'assets/css/base2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <!-- ---- Include the above in your HEAD tag ---------->

    <!-- script
    ================================================== -->
    <script src="{% static 'assets/js/modernizr.js' %}"></script>
    <script src="{% static 'assets/js/pace.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'assets/images/breeze/darklogo.ico' %}" >
    <style>
    #top{
        background-image: linear-gradient(to top right, rgba(0,0,0,.3), rgba(0,0,0,.3)), url("{% static 'assets/images/breeze/Theme Reveal-01.jpg' %}");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        background-attachment: fixed;
        height: 100%;
    }
    .paid{
        color: green;
    }
    .unpaid{
        color: red;
    }
    @media only screen and (max-width: 500px){
        #qr{
            width:80% !important;
        }
    }
    </style>
    <style media="screen">
    @font-face {
        font-family: AR;
        src: url("{% static 'assets/fonts/Atami-Regular.otf' %}");
    }
    @font-face {
        font-family: ADR;
        src: url("{% static 'assets/fonts/Atami-Display-Regular.otf' %}");
    }
    @font-face {
        font-family: PN;
        src: url("{% static 'assets/fonts/ProximaNova-Regular.ttf' %}");
    }
    @font-face {
        font-family: PNB;
        src: url("{% static 'assets/fonts/ProximaNova-Bold.ttf' %}");
    }
    </style>
</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="{% static 'assets/images/breeze/WhiteLogo-02.png' %}" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
              {% if user.is_authenticated %}
                  <h3 style="font-family:PN;font-weight: bold;"><a href="/dashboard/"><img src="{% static 'assets/images/breeze/user.png' %}" alt=""></a><br><br>Manage your purchases</h3>
              {% endif %}

                <ul class="header-nav__list">
                        <li ><a href="/" title="home" style="font-family:PN">Home</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="/logout" title="works" style="font-family:PN">Sign out</a></li>
                  {% else %}
                  <li><a href="/signin/?prev=/events" title="works" style="font-family:PN">Sign in</a></li>
                  {% endif %}
                  <li><a href="/id/" title="clients" style="font-family:PN">Generate ID</a></li>
                  <li class="current"><a href="/events/" title="clients" style="font-family:PN">Events & Registration</a></li>
                  <li ><a href="/gallery/" title="works" style="font-family:PN">Gallery</a></li>
                  <li><a href="/accomodation/" title="acco" style="font-family:PN">Accommodation</a></li>
                  <li class="current"><a href="/sponsors/" title="clients" style="font-family:PN">Sponsors</a></li>
                  <li><a href="/team/" title="acco" style="font-family:PN">Developers</a></li>
                </ul>

                <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

                <ul class="header-nav__social">
                  <li>
                      <a href="https://www.facebook.com/snu.breeze/" target="_blank"><i class="fa fa-facebook"></i></a>
                  </li>
                  <!--<li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>-->
                  <li>
                      <a href="https://www.instagram.com/breeze.snu/" target="_blank"><i class="fa fa-instagram"></i></a>
                  </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a style="background-color: black;" class="header-menu-toggle" href="#0">
            <span style="background-color:black; " class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
    <style media="screen">
        @media only screen and (max-width: 500px) {#heading{padding-left: 0%!important;}}
    </style>
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <!--<h1 class="display-1 display-1--light text-center" id="heading" style="padding-top:5%;padding-bottom:0;padding-left: 70%;margin-bottom:0;font-family:ADR">Dashboard</h1>-->
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
            <div class="col-md-4">
                    <div class="card" style="border:1px solid #e25c7f;border-radius: 25px 25px; margin:5% 10%;">
                        <h5 class="card-header text-center" style="background-color:#e25c7f;border-radius:25px 25px 0px 0px ;padding:1%;margin:0 0 0% 0;font-size:2.5rem;font-family:AR;font-weight: bold">Payment information</h5>
                        <div class="card-body" style="background-color: #000000;border-radius:0px 0px 25px 25px;">
                                <p><b id="note" style="font-weight: bold;color: white;font-size: 2.5rem;">NOTE</b> <br><br>

                                    <span id="inst" style="font-size: 1.5rem;">You will receive an automated email (check spam). You are requested to follow the mentioned steps to complete the registration and payment process<br><br>
                                    
                                    Scan the QR code displayed below and pay the amount. It is also attached to the automated mail.<br><a href="https://g.co/payinvite/p8qr15" target="_blank"><button type="button" class="cancelbtn" id="tez" style="margin-top: 5%;padding-top:0px;">Get <img src="{% static 'assets/images/breeze/google.png' %}" style="height: 50%;padding-top:10%;" alt="Google"> Pay</button></a></span><br><br>
                                    <img id="qr" src="{% static 'assets/images/breeze/Screenshot_20190106-140417.jpg' %}" style="width: 20%;margin-bottom: 5%;" alt="">
                                    
                                    </p>
            
                        <!--<a href="/events/cultural/"class="btn btn-primary" id="register-culter"style="border:1px solid white;background-color:#000000;color:white;font-family:AR;border-radius:25px;margin-top:2%;" >Unpaid</a>-->
                        </div>
                    </div>
            </div>
            <h1 class="display-1 display-1--light text-center" id="heading" style="padding-top:5%;padding-bottom:0;padding-left: 0%;margin-bottom:0;font-family:ADR">Registration</h1>
        <div class="col-md-4">
          {% if profiles|length == 0 %}
          <center>
            <h1 style="color: white;">No registrations</h1>
          </center>
          {% else %}
          {% for profile in profiles %}
          <div class="card" style="border:1px solid #e25c7f;border-radius: 25px 25px; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:#e25c7f;border-radius:25px 25px 0px 0px ;padding:1%;margin:0 0 0% 0;font-size:2.5rem;font-family:AR;font-weight: bold">{{profile.eventId.name}}</h5>
            <div class="card-body" style="background-color: #000000;border-radius:0px 0px 25px 25px;">
              <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Number of Participants :  </span><span>{{profile.nop}}</span></p>
              <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Total amount :  </span>Rs. <span>{{profile.payable}}</span></p>
              {% if profile.transaction_status != 'p' %}
              <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Payment status :  </span> <span class="unpaid">Unpaid</span></p>
              {% else %}
              <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Payment status :  </span> <span class="paid">Paid</span></p>
              {% endif %}

              <!--<a href="/events/cultural/"class="btn btn-primary" id="register-culter"style="border:1px solid white;background-color:#000000;color:white;font-family:AR;border-radius:25px;margin-top:2%;" >Unpaid</a>-->
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>

        <h1 class="display-1 display-1--light text-center" id="heading" style="padding-top:5%;padding-bottom:0;padding-left: 0%;margin-bottom:0;font-family:ADR">Accommodations</h1>
        <div class="col-md-4">
                {% if accomodations|length == 0 %}
                <center>
                  <h1 style="color: white;">No accomodation registrations</h1>
                </center>
                {% else %}
                {% for acco in accomodations %}
                <div class="card" style="border:1px solid #e25c7f;border-radius: 25px 25px; margin:5% 10%;">
                  <h5 class="card-header text-center" style="background-color:#e25c7f;border-radius:25px 25px 0px 0px ;padding:1%;margin:0 0 0% 0;font-size:2.5rem;font-family:AR;font-weight: bold">{{acco.packageId.name}}</h5>
                  <div class="card-body" style="background-color: #000000;border-radius:0px 0px 25px 25px;">
                    <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Number of Days :  </span><span>{{acco.days}}</span></p>
                    <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Total amount :  </span>Rs. <span>{{acco.payable}}</span></p>
                    {% if acco.transaction_status != 'p' %}
                    <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Payment status :  </span> <span class="unpaid">Unpaid</span></p>
                    {% else %}
                    <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:0.5%"><span style="font-weight: bold;">Payment status :  </span> <span class="paid">Paid</span></p>
                    {% endif %}
      
                    <!--<a href="/events/cultural/"class="btn btn-primary" id="register-culter"style="border:1px solid white;background-color:#000000;color:white;font-family:AR;border-radius:25px;margin-top:2%;" >Unpaid</a>-->
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>


      </div>
    </div>


            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->




    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
        <div class="line-scale-pulse-out">
          <img src="{% static 'assets/images/breeze/cat.gif' %}" id="cat"alt="">
          <!--<div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>-->
        </div>
      </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script type="text/javascript">

    $('#carouselExample').on('slide.bs.carousel', function (e) {


        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 3;
        var totalItems = $('.carousel-item').length;

        if (idx >= totalItems-(itemsPerSlide-1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i=0; i<it; i++) {
                // append slides to end
                if (e.direction=="left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });





      $(document).ready(function() {
    /* show lightbox when clicking a thumbnail */
        $('a.thumb').click(function(event){
          event.preventDefault();
          var content = $('.modal-body');
          content.empty();
            var title = $(this).attr("title");
            $('.modal-title').html(title);
            content.html($(this).html());
            $(".modal-profile").modal({show:true});
        });

      });
    </script>

</body>

</html>
