{% extends 'base1.html' %}

{% block content %}

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/Blogo.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                  <li ><a href="index.html" title="home">Home</a></li>
                  <li class="current"><a href="events.html" title="clients">Events</a></li>
                  <li ><a href="gallery.html" title="works">Gallery</a></li>
                  <li class="current"><a href="sponsors.html" title="clients">Sponsors</a></li>
                </ul>

                <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

                <ul class="header-nav__social">
                  <li>
                      <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <!--<li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>-->
                  <li>
                      <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram"></i></a>
                  </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a style="background-color: black;" class="header-menu-toggle" href="#0">
            <span style="background-color:black; " class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
    <style media="screen">
        @media only screen and (max-width: 500px) {#heading{padding-left: 0%!important;}}
    </style>
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <h1 class="display-1 display-1--light text-center" id="heading" style="padding-top:5%;padding-bottom:0;padding-left: 75%;margin-bottom:0;">Events</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="border:1px solid white; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:white;padding:2%;margin:0 0 2% 0;">Sports</h5>
            <div class="card-body">
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <a href="form.html" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border:1px solid white; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:white;padding:2%;margin:0 0 2% 0;">Sports</h5>
            <div class="card-body">
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <a href="form.html" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border:1px solid white; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:white;padding:2%;margin:0 0 2% 0;">Sports</h5>
            <div class="card-body">
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <a href="form.html" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>


            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->




    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
        <div class="line-scale-pulse-out">
          <img src="images/breeze/cat.gif" id="cat" alt="">
          <!--<div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>-->
        </div>
      </div>
    </div>
{% endblock %}
