<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Breeze'19</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base2.css">
    <link rel="stylesheet" href="css/vendor2.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- ---- Include the above in your HEAD tag ---------->

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/breeze/darklogo.ico" >

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/Blogo.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>

                <ul class="header-nav__list">
                  <li ><a href="index.html" title="home">Home</a></li>
                  <li class="current"><a href="events.html" title="clients">Events</a></li>
                  <li ><a href="gallery.html" title="works">Gallery</a></li>
                  <li class="current"><a href="sponsors.html" title="clients">Sponsors</a></li>
                </ul>

                <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

                <ul class="header-nav__social">
                  <li>
                      <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <!--<li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>-->
                  <li>
                      <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram"></i></a>
                  </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a style="background-color: black;" class="header-menu-toggle" href="#0">
            <span style="background-color:black; " class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
    <style media="screen">
        @media only screen and (max-width: 500px) {#heading{padding-left: 0%!important;}}
    </style>
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <h1 class="display-1 display-1--light text-center" id="heading" style="padding-top:5%;padding-bottom:0;padding-left: 75%;margin-bottom:0;">Events</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="border:1px solid white; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:white;padding:2%;margin:0 0 2% 0;">Sports</h5>
            <div class="card-body">
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <a href="form.html" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border:1px solid white; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:white;padding:2%;margin:0 0 2% 0;">Sports</h5>
            <div class="card-body">
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <a href="form.html" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border:1px solid white; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:white;padding:2%;margin:0 0 2% 0;">Sports</h5>
            <div class="card-body">
              <p class="card-text text-center">With supporting text below as a natural lead-in to additional content.</p>
              <a href="form.html" class="btn btn-primary">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>


            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->




    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
        <div class="line-scale-pulse-out">
          <img src="images/breeze/cat.gif" id="cat" alt="">
          <!--<div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>-->
        </div>
      </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">

    $('#carouselExample').on('slide.bs.carousel', function (e) {


        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 3;
        var totalItems = $('.carousel-item').length;

        if (idx >= totalItems-(itemsPerSlide-1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i=0; i<it; i++) {
                // append slides to end
                if (e.direction=="left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });





      $(document).ready(function() {
    /* show lightbox when clicking a thumbnail */
        $('a.thumb').click(function(event){
          event.preventDefault();
          var content = $('.modal-body');
          content.empty();
            var title = $(this).attr("title");
            $('.modal-title').html(title);
            content.html($(this).html());
            $(".modal-profile").modal({show:true});
        });

      });
    </script>

</body>

</html>
