{% extends 'base1.html' %}

{% block extra %}
    <style media="screen">
    @font-face {
        font-family: AR;
        src: url(Atami-Regular.otf);
    }
    @font-face {
        font-family: ADR;
        src: url(Atami-Display-Regular.otf);
    }
    @font-face {
        font-family: PN;
        src: url(ProximaNova-Regular.ttf);
    }
    @font-face {
        font-family: PNB;
        src: url(ProximaNova-Bold.ttf);
    }
    </style>
{% endblock %}

{% block content %}
    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/breeze/WhiteLogo-02.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3 style="font-family:ADR">Navigation</h3>

                <ul class="header-nav__list">
                  <li ><a href="index.html" title="home" style="font-family:PN">Home</a></li>
                  <li class="current"><a href="events.html" title="clients" style="font-family:PN">Events & Registration</a></li>
                  <li ><a href="gallery.html" title="works" style="font-family:PN">Gallery</a></li>
                  <li class="current"><a href="sponsors.html" title="clients" style="font-family:PN">Sponsors</a></li>
                </ul>

                <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

                <ul class="header-nav__social">
                  <li>
                      <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <!--<li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>-->
                  <li>
                      <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram"></i></a>
                  </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a style="background-color: black;" class="header-menu-toggle" href="#0">
            <span style="background-color:black; " class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
    <style media="screen">
        @media only screen and (max-width: 500px) {#heading{padding-left: 0%!important;}}
    </style>
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <h1 class="display-1 display-1--light text-center" id="heading" style="padding-top:5%;padding-bottom:0;padding-left: 75%;margin-bottom:0;font-family:ADR">Events</h1>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="border:1px solid #e25c7f; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:#e25c7f;padding:1%;margin:0 0 2% 0;font-size:2.5rem;font-family:AR">Cultural</h5>
            <div class="card-body">
              <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:1%">I see you are a man of culture as well.</p>
              <a href="eventscul.html"class="btn btn-primary" id="register-culter"style="border:1px solid white;background-color:#111111;color:white;font-family:AR" >Register</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border:1px solid #46c1ac; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:#46c1ac;padding:1%;margin:0 0 2% 0;font-size:2.5rem;font-family:AR">Sports</h5>
            <div class="card-body">
              <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:1%">Inshallah the boys played well.</p>
              <a href="form.html" class="btn btn-primary" style="border:1px solid white;background-color:#111111;color:white;font-family:AR">Register</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="border:1px solid #fafafa; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:#fafafa;padding:1%;margin:0 0 2% 0;font-size:2.5rem;font-family:AR">Technical</h5>
            <div class="card-body">
              <p class="card-text text-center" style="font-size:1.8rem;font-family:PN;padding:1%">Jobs or Wozniak. Pick your side.</p>
              <a href="eventstech.html" class="btn btn-primary" style="border:1px solid white;background-color:#111111;color:white;font-family:AR">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>


            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->




    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
        <div class="line-scale-pulse-out">
          <img src="images/breeze/cat.gif" id="cat"alt="">
          <!--<div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>-->
        </div>
      </div>
    </div>
{% endblock %}
