<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Breeze'19</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base2.css">
    <link rel="stylesheet" href="css/vendor2.css">
    <link rel="stylesheet" href="css/main.css">
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <!-- ---- Include the above in your HEAD tag ---------->

<script src="js/jquery-3.2.1.min.js"></script>


    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
    <script src="index.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/breeze/darklogo.ico" >
    <style media="screen">
    @font-face {
        font-family: AR;
        src: url(Atami-Regular.otf);
    }
    @font-face {
        font-family: ADR;
        src: url(Atami-Display-Regular.otf);
    }
    @font-face {
        font-family: PN;
        src: url(ProximaNova-Regular.ttf);
    }
    @font-face {
        font-family: PNB;
        src: url(ProximaNova-Bold.ttf);
    }
    </style>

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/breeze/WhiteLogo-02.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3 style="font-family:ADR">Navigation</h3>

                <ul class="header-nav__list">
                  <li ><a href="index.html" title="home" style="font-family:PN">Home</a></li>
                  <li class="current"><a href="events.html" title="clients" style="font-family:PN">Events & Registration</a></li>
                  <li ><a href="gallery.html" title="works" style="font-family:PN">Gallery</a></li>
                  <li class="current"><a href="sponsors.html" title="clients" style="font-family:PN">Sponsors</a></li>
                </ul>

                <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

                <ul class="header-nav__social">
                  <li>
                      <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <!--<li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>-->
                  <li>
                      <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram"></i></a>
                  </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a style="background-color: black;" class="header-menu-toggle" href="#0">
            <span style="background-color:black; " class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->
    <style media="screen">
        @media only screen and (max-width: 500px) {#heading{padding-left: 0%!important;}}
    </style>
    <div class="row section-header" data-aos="fade-up">
      <div class="col-full">
        <h1 class="display-1 display-1--light text-center" id="heading" style="padding-top:5%;padding-bottom:0;padding-left: 70%;margin-bottom:0;font-family:ADR">Events</h1>
      </div>
    </div>
    <style>
    </style>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="border:1px solid #46c1ac; margin:5% 10%;">
            <h5 class="card-header text-center" style="background-color:#46c1ac;padding:1%;margin:0 0 2% 0;font-size:2rem;font-family:AR">Registration</h5>
            <div class="card-body">
              <p class="card-text text-center" >
                <div class="row">
                    <div class="col-md-4 text-center" style="width:50%;display:inline;">
                          <h2 style="color:white;margin-left:-50%;font-family:AR;">Category I*:</h2><select id="category1" name="Category" value="Select" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;" required><option value="junior" style="color:black;">Junior</option><option value="senior" style="color:black;">Senior</option></select>
                          <h2 style="color:white;margin-left:-50%;font-family:AR;">Category II*:</h2><select id="category2" name="Category" value="Select" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;" required><option value="individual" style="color:black;">Individual</option><option value="pair" style="color:black;">Pair</option><option value="group" style="color:black;">Group</option></select>
                          <h2 style="color:white;margin-left:-52%;font-family:AR;">Belt/s:</h2><input id="belt"  type="text" placeholder="Mention for Individual/Pair/Group" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;"><p style="font-size:10px;">*For pairs & group, mention belts in M/F pair or (2M +1F/2F+1M) group</p>
                          <h2 style="color:white;margin-left:-52%;font-family:AR;">Number <br>of players*:</h2><input required id="noofplayers" type="text" placeholder="Number of players (including subs)" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-50%;font-family:AR;">Name*:</h2><input id="name" type="text" placeholder="Name of the captain" required style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-50%;font-family:AR;">Email*:</h2><input id="email" type="email" required placeholder="Email" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-55%;font-family:AR;">Phone <br>Number*:</h2><input id="phno" type="number" required placeholder="Phone Number" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-50%;font-family:AR;">College*:</h2><input id="collegeName" type="text" required placeholder="College" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-50%;font-family:AR;">Stream:</h2><input id="st" type="text" placeholder="Stream" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-47%;font-family:AR;">Percentage<br>in class X:</h2><input id="cgx" type="text" placeholder="CGPA in class X" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-47%;font-family:AR;">Percentage<br>in class XII:</h2><input id="cgxii" type="text" placeholder="CGPA in class XII" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-37%;font-family:AR;">Percentage in<br>graduation:</h2><input id="cgg" type="text" placeholder="CGPA in graduation" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <h2 style="color:white;margin-left:-50%;font-family:AR;">Location of<br>domicile:</h2><input id="lod" type="text" placeholder="Location of domicile" style="border-bottom:1px solid white;color:white;margin-left:30%;width:60%;">
                          <a href="Sports Rulebook.pdf" class="btn btn-primary" style="border:1px solid white;background-color:#111111;color:#46c1ac;font-family:AR;">Check for Rule book</a><br><br>
                          <a id="submittkp" class="btn btn-primary" style="border:3px solid white;background-color:#111111;color:#46c1ac;font-family:AR;font-weight:bolder">Register</a>
                          <p style="padding-top:3%;font-size:1.5rem;font-family:PN"><span style="padding-left:3%;">Contact <span style="font-weight: bold;">Sports Directors</span> for info:</span> <span style="padding-left:1%;">Anmol Mahajan (<span style="color:#46c1ac">9560954626</span>), Sanjana Maurya (<span style="color:#46c1ac">9015378953</span>)</span></p>
                    </div>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->




    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
        <div class="line-scale-pulse-out">
          <img src="images/breeze/cat.gif" id="cat" alt="">
          <!--<div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>-->
        </div>
      </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">

    $('#carouselExample').on('slide.bs.carousel', function (e) {


        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 3;
        var totalItems = $('.carousel-item').length;

        if (idx >= totalItems-(itemsPerSlide-1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i=0; i<it; i++) {
                // append slides to end
                if (e.direction=="left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });





      $(document).ready(function() {
    /* show lightbox when clicking a thumbnail */
        $('a.thumb').click(function(event){
          event.preventDefault();
          var content = $('.modal-body');
          content.empty();
            var title = $(this).attr("title");
            $('.modal-title').html(title);
            content.html($(this).html());
            $(".modal-profile").modal({show:true});
        });

      });
    </script>

</body>

</html>
