<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Breeze'19</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/breeze/darklogo.ico" >
    <style media="screen">
    @font-face {
        font-family: AR;
        src: url(Atami-Regular.otf);
    }
    @font-face {
        font-family: ADR;
        src: url(Atami-Display-Regular.otf);
    }
    @font-face {
        font-family: PN;
        src: url(ProximaNova-Regular.ttf);
    }
    @font-face {
        font-family: PNB;
        src: url(ProximaNova-Bold.ttf);
    }
    </style>

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/breeze/WhiteLogo-02.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3 style="font-family:ADR">Navigation</h3>

                <ul class="header-nav__list">
                    <li ><a href="index.html" title="home" style="font-family:PN">Home</a></li>
                    <li><a href="events.html" title="clients" style="font-family:PN">Events & Registration</a></li>
                    <li class="current"><a href="gallery.html" title="works" style="font-family:PN">Gallery</a></li>
                    <li><a href="sponsors.html" title="clients" style="font-family:PN">Sponsors</a></li>
                </ul>

                <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

                <ul class="header-nav__social">
                  <li>
                      <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <!--<li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>-->
                  <li>
                      <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram"></i></a>
                  </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <section id='works' class="s-works">

        <div class="intro-wrap">

            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead" style="font-family:ADR">Gallery</h3>
                    <h1 class="display-2 display-2--light" style="font-family:ADR">Glimpse of Breeze</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">


                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/IMG_3184.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/IMG_3184.jpg"
                                         srcset="images/breeze/IMG_3184.jpg 2x, images/breeze/IMG_3184.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/27747711_1588621324546980_6126557206134358954_o.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/27747711_1588621324546980_6126557206134358954_o.jpg"
                                         srcset="images/breeze/27747711_1588621324546980_6126557206134358954_o.jpg 2x, images/breeze/27747711_1588621324546980_6126557206134358954_o.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/27797920_1590197637722682_8529524780225609714_o.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/27797920_1590197637722682_8529524780225609714_o.jpg"
                                         srcset="images/breeze/27797920_1590197637722682_8529524780225609714_o.jpg 2x, images/breeze/27797920_1590197637722682_8529524780225609714_o.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/27912641_1588620854547027_2246391428295618393_o.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/27912641_1588620854547027_2246391428295618393_o.jpg"
                                         srcset="images/breeze/27912641_1588620854547027_2246391428295618393_o.jpg 2x, images/breeze/27912641_1588620854547027_2246391428295618393_o.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/Event/IMG_8393.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/Event/IMG_8393.jpg"
                                         srcset="images/breeze/Event/IMG_8393.jpg 2x, images/breeze/Event/IMG_8393.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/Event/IMG_8370-2.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/Event/IMG_8370-2.jpg"
                                         srcset="images/breeze/Event/IMG_8370-2.jpg 2x, images/breeze/Event/IMG_8370-2.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/Event/IMG_8228.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/Event/IMG_8228.jpg"
                                         srcset="images/breeze/Event/IMG_8228.jpg 2x, images/breeze/Event/IMG_8228.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/Event/IMG_5838.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/Event/IMG_5838.jpg"
                                         srcset="images/breeze/Event/IMG_5838.jpg 2x, images/breeze/Event/IMG_5838.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/Event/IMG_1050.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/Event/IMG_1050.jpg"
                                         srcset="images/breeze/Event/IMG_1050.jpg 2x, images/breeze/Event/IMG_1050.jpg 2x" alt="">
                                </a>
                            </div>
							</div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_0012.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_0012.jpg"
                                         srcset="images/breeze/events2/IMG_0012.jpg 2x, images/breeze/events2/IMG_0012.jpg 2x" alt="">
                                </a>
                            </div>
							</div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_0675.JPG" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_0675.JPG"
                                         srcset="images/breeze/events2/IMG_0675.JPG 2x, images/breeze/events2/IMG_0675.JPG 2x" alt="">
                                </a>
                            </div>
							</div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_6672.JPG" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_6672.JPG"
                                         srcset="images/breeze/events2/IMG_6672.JPG 2x, images/breeze/events2/IMG_6672.JPG 2x" alt="">
                                </a>
                            </div>
							</div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_6747.JPG" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_6747.JPG"
                                         srcset="images/breeze/events2/IMG_6747.JPG 2x, images/breeze/events2/IMG_6747.JPG 2x" alt="">
                                </a>
                            </div>
							</div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_6756.JPG" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_6756.JPG"
                                         srcset="images/breeze/events2/IMG_6756.JPG 2x, images/breeze/events2/IMG_6756.JPG 2x" alt="">
                                </a>
                            </div>
							</div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_6763.JPG" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_6763.JPG"
                                         srcset="images/breeze/events2/IMG_6763.JPG 2x, images/breeze/events2/IMG_6763.JPG 2x" alt="">
                                </a>
                            </div>
							</div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_7181.JPG" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_7181.JPG"
                                         srcset="images/breeze/events2/IMG_7181.JPG 2x, images/breeze/events2/IMG_7181.JPG 2x" alt="">
                                </a>
                            </div>
							 </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/events2/IMG_9971.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/events2/IMG_9971.jpg"
                                         srcset="images/breeze/events2/IMG_9971.jpg 2x, images/events2/IMG_9971.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/breeze/IMG_1225.jpg" class="thumb-link" data-size="1024x683">
                                    <img src="images/breeze/IMG_1225.jpg"
                                         srcset="images/breeze/IMG_1225.jpg 2x, images/breeze/IMG_1225.jpg 2x" alt="">
                                </a>
                            </div>

                            <!--<div class="item-folio__text">
                                <h3 class="item-folio__title">

                                </h3>
                                <p class="item-folio__cat">

                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>-->

                        </div>
                    </div> <!-- end masonry__brick -->



                    <!--<div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" title="Woodcraft" data-size="1050x700">
                                    <img src="images/portfolio/woodcraft.jpg"
                                         srcset="images/portfolio/woodcraft.jpg 1x, images/portfolio/woodcraft@2x.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Woodcraft
                                </h3>
                                <p class="item-folio__cat">
                                    Web Design
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> --><!-- end masonry__brick -->

                    <!--<div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                    <img src="images/portfolio/the-beetle.jpg"
                                         srcset="images/portfolio/the-beetle.jpg 1x, images/portfolio/the-beetle@2x.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    The Beetle
                                </h3>
                                <p class="item-folio__cat">
                                    Web Development
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> --><!-- end masonry__brick -->

                    <!--<div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-grow-green.jpg" class="thumb-link" title="Grow Green" data-size="1050x700">
                                    <img src="images/portfolio/grow-green.jpg"
                                         srcset="images/portfolio/grow-green.jpg 1x, images/portfolio/grow-green@2x.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Grow Green
                                </h3>
                                <p class="item-folio__cat">
                                    Branding
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> --><!-- end masonry__brick -->

                    <!--<div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-guitarist.jpg" class="thumb-link" title="Guitarist" data-size="1050x700">
                                    <img src="images/portfolio/guitarist.jpg"
                                         srcset="images/portfolio/guitarist.jpg 1x, images/portfolio/guitarist@2x.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Guitarist
                                </h3>
                                <p class="item-folio__cat">
                                    Web Design
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> --><!-- end masonry__brick -->

                    <!--<div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">

                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-palmeira.jpg" class="thumb-link" title="Palmeira" data-size="1050x700">
                                    <img src="images/portfolio/palmeira.jpg"
                                         srcset="images/portfolio/palmeira.jpg 1x, images/portfolio/palmeira@2x.jpg 2x" alt="">
                                </a>
                            </div>

                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Palmeira
                                </h3>
                                <p class="item-folio__cat">
                                    Web Design
                                </p>
                            </div>

                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>

                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>

                        </div>
                    </div> --><!-- end masonry__brick -->

                </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
        <div class="line-scale-pulse-out">
          <img src="images/breeze/cat.gif" id="cat" alt="">
          <!--<div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>-->
        </div>
      </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
