<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

<!--- basic page needs
    ================================================== -->
<meta charset="utf-8">
<title>Breeze'19</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- mobile specific metas
    ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS
    ================================================== -->
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/vendor.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/events.css">

<!-- script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/pace.min.js"></script>

<!-- favicons
    ================================================== -->
<link rel="shortcut icon" href="images/breeze/darklogo.ico" >
<style media="screen">
@font-face {
    font-family: AR;
    src: url(Atami-Regular.otf);
}
@font-face {
    font-family: ADR;
    src: url(Atami-Display-Regular.otf);
}
@font-face {
    font-family: PN;
    src: url(ProximaNova-Regular.ttf);
}
@font-face {
    font-family: PNB;
    src: url(ProximaNova-Bold.ttf);
}
</style>

</head>

<body id="top">

<!-- header
    ================================================== -->
<header class="s-header">
  <div class="header-logo"> <a class="site-logo" href="index.html"> <img src="images/breeze/WhiteLogo-02.png" style="margin-top:5%;"alt="Homepage"> </a> </div>
  <nav class="header-nav"> <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
    <div class="header-nav__content">
      <h3 style="font-family:ADR">Navigation</h3>
      <ul class="header-nav__list">
        <li class="current"><a class="smoothscroll"  href="#home" title="home" style="font-family:PN">Home</a></li>
        <li><a href="events.html" title="clients" style="font-family:PN">Events & Registration</a></li>
        <li><a href="gallery.html" title="works" style="font-family:PN">Gallery</a></li>
        <li><a href="sponsors.html" title="clients" style="font-family:PN">Sponsors</a></li>
      </ul>

      <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

      <ul class="header-nav__social">
        <li> <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook"></i></a> </li>
        <!--<li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>-->
        <li> <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram"></i></a> </li>
		   <li> <a href="https://www.youtube.com/channel/UCq-fFlEMV4r1HPYZiQrrd7w/featured"><i class="fa fa-youtube" ></i></a> </li>
        <!--<li>

                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
      </ul>
    </div>
    <!-- end header-nav__content -->

  </nav>
  <!-- end header-nav -->

  <a class="header-menu-toggle" href="#0"> <span class="header-menu-text">Menu</span> <span class="header-menu-icon"></span> </a> </header>
<!-- end s-header -->

<!-- home
    ================================================== -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/breeze/bkgrd.jpeg" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
  <div class="overlay"></div>
  <div class="shadow-overlay"></div>
  <div class="home-content">
    <div class="row home-content__main">
      <h3 style="font-weight:bold;font-family:PN">Welcome to Breeze'19</h3>
      <h1 style="font-family:AR"> <span style="color:#e25c7f;font-family:ADR">Breeze</span> is <br>
        Shiv Nadar University's <br>
        Cultural-Techno-Sports Fest </h1>
      <a href="events.html"><div class="home-content__buttons">
        <!--<a href="#contact" class="smoothscroll btn btn--stroke">
                        Start a Project
                    </a>-->
        <a href="events.html" class="smoothscroll btn btn--stroke" id="register" style="color:#46c1ac;font-family:AR;font-size:2rem;font-weight:bold;"> R<span style="text-transform: lowercase;">egister</span> </a> </div></a>
    </div>

    <!--<div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>-->

    <!--<div class="home-content__line"></div>-->

  </div>
  <!-- end home-content -->

  <ul class="home-social">
    <li> <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a> </li>
    <!--<li>
                <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>-->
    <li> <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a> </li>
    <li> <a href="https://www.youtube.com/channel/UCq-fFlEMV4r1HPYZiQrrd7w/featured"><i class="fa fa-youtube" aria-hidden="true"></i><span>YouTube</span></a> </li>
    <!--<li>
                <a href="#0"><i class="fa fa-behance" aria-hidden="true"></i><span>Behance</span></a>
            </li>
            <li>
                <a href="#0"><i class="fa fa-dribbble" aria-hidden="true"></i><span>Dribbble</span></a>
            </li>-->
  </ul>
  <!-- end home-social -->

</section>
<!-- end s-home -->

<!-- about
    ================================================== -->
<section id='about' class="s-about">
  <div class="row section-header has-bottom-sep" data-aos="fade-up">
    <div class="col-full">
      <h3 class="subhead subhead--dark" style="font-family:ADR">Hello There</h3>
      <h1 class="display-1 display-1--light" style="font-family:ADR">About Breeze</h1>
    </div>
  </div>
  <!-- end section-header -->

  <div class="row about-desc" data-aos="fade-up">
    <div class="col-full" id="face-img">
      <div class="container">
        <img src="images/breeze/1.png" style="width:1000%;">
        <div class="centered"><p style="text-align: center;font-family:PN"> It's Breeze Time!
          Shiv Nadar University's 3 day sports - techno - cultural event that's amassed more than 25000 people, more than a hundred colleges, and a reach of a whopping 50000 on Social Media is back - Breeze'19 promises to be bigger and better in every way! We've got events organised by over 40 clubs, ranging from literary to technical, dance to programming, debating to cooking, just to mention a few. The Breeze Hall of Fame is adorned with outstanding artist lineups that includes Biswa Kalyan Rath, Kanan Gill,The Local Train etc with the promise of many more great artists to come. We look forward to welcoming you at Shiv Nadar University for our Annual Fest, where we give you the chance to do it all. </p><br><br></div>
      </div>
    </div>
  </div>
  <!-- end about-desc -->

  <div class="row about-stats stats block-1-3 block-m-1-2 block-mob-full statis" data-aos="fade-up" style="">
    <div class="col-block stats__col"> <span class="stats__count" style="font-family:ADR">50</span ><span class="stats__count1"style="font-family:ADR"> K+</span>
      <h5 style="color: whitesmoke;font-family:PN">People reached through<br>
        social media</h5>
    </div>
    <div class="col-block stats__col"> <span class="stats__count" style="font-family:ADR">100</span ><span class="stats__count1" style="font-family:ADR"> +</span>
      <h5 style="color: whitesmoke;font-family:PN">Participating colleges</h5>
    </div>
    <div class="col-block stats__col"> <span class="stats__count" style="font-family:ADR">25</span ><span class="stats__count1" style="font-family:ADR"> K+</span>
      <h5 style="color: whitesmoke;font-family:PN">Cummulative footfall<br>
        over five years</h5>
    </div>
  </div>
  <!-- end about-stats -->

  <!--<div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-4">
                            <h3 class="aftermovie-title">Breeze'16</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SNeeRbHCaXs"></iframe>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h3 class="aftermovie-title">Breeze'18</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/32Ap621cqrc"></iframe>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3 class="aftermovie-title">Breeze'18</h3>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/32Ap621cqrc"></iframe>
                            </div>
                        </div>
                    </div>-->
  <!-- row -->
  <!--</div>-->

<div style="background-color: #272557; padding-top:5%;">
  <div class="row section-header has-bottom-sep" data-aos="fade-up">
    <div class="col-full">
      <h1 class="display-1 display-1--light" style="font-family:ADR">Break The Internet</h1>
    </div>
  </div>
  <div class="row about-desc bti" data-aos="fade-up">
    <div class="col-full" id="face-img">
      <div class="container bti-container">
        <img src="images/breeze/2.png" style="width:200%;">
        <div class="centered bti-centered"><p style="text-align: justify;font-family:PN"> With Breeze'19 the hype is real. We will bring you experiences that'll make your heart fly as fast as Nyan cat. You won't get enough of our Kikis and Jhonnies, you'll be drawn to our fest like moth(s) (memes) to a flame. This year we will have bigger events, better stalls and more poeple than most SoundCloud rappers have plays. The internet has been here a long time, each generation of users have experienced and continue to experience it in different ways, it is the complexity of the internet that makes it such a wonderful resource, that it has integrated into our daily lives. This year there will be something for everyone from gaming to BuzzFeed, your most loved Vines (RIP) and even Tumblr. There's no need to ask Kowalski for an analysis, just come to Breeze.</p></div>
      </div>
    </div>
  </div>
  </div>
  <div  class="glimpse" data-aos="fade-up" style="margin-top:-200px">
    <br>
    <!--<h2 style="text-align: center;color:white;">Glimpse of last year</h2>-->
    <br><br>
    <!--<div class="row breegal">
      <div class="column col-1-4"> <img src="images/artists/IMG_0011.jpg" alt="" style="width:100%;height: 250px"> </div>
      <div class="column col-1-4 "> <img src="images/artists/neha kakkar.jpg" alt="" style="width:100%;height: 250px;"> </div>
      <div class="column col-1-4"> <img src="images/artists/Karan-Gill.jpg" alt="" style="width:100%; height: 250px;"> </div>
      <div class="column col-1-4"> <img src="images/artists/biswa.jpg" alt="" style="width:100%;height: 250px;"> </div>
    </div>-->
    <div class="tech-slideshow" style="width:80%;">
      <div class="mover-2"></div>
      <div class="mover-1"></div>
    </div><br><br>
  </div>
  <div class="row section-header " data-aos="fade-up" style="padding-top:3%;">
    <div class="col-full">
      <h1 class="display-1 display-1--light" style="font-family:ADR">About Breakfree</h1>
      <h3 class="subhead subhead--dark" style="font-family:PN">The objective behind Breakfree is to build social responsibility in the community to advocate for social awareness, welfare and to fight against discrimination. BreakFree has conducted 3 successful initiatives so far:</h3>
    </div>
  </div>
  <div class="row clients-testimonials" data-aos="fade-up">
    <div class="col-full">
      <div class="testimonials">
        <div class="testimonials__slide">
          <h3 class="aftermovie-title display-1 display-1--light" style="font-family:AR;font-size;">Dohri Zindagi</h3>
          <p style="font-family:PN;color:black;">A play based on a folklore by the renowned Rajasthani writer, Padmashri Vijaydaan Detha. The play is a powerful and bold rendition of Detha's ingenious work that questions society's perception of gender and sexuality. The play was selected as one of the 10 best plays of 2016 by Stage Culture Magazine, and has received the precious Gender Bender grant. On 25th October 2017, the community here at Shiv Nadar University was deeply impacted by the performances of this illustrious team.</p>
        </div>
        <div class="testimonials__slide">
          <h3 class="aftermovie-title display-1 display-1--light" style="font-family:AR">Donation Drive with Goonj from 6th-8th October</h3>
          <p style="font-family:PN;color:black;">An aspect of Daan Utsav, which is an annual week-long donation drive conducted between October 2–8, Goonj, in association with BreakFree conducted their nationwide campaign on SNU grounds as well. During the week, people from across India contribute under-utilized goods and clothes from their homes, offices and schools in urban area to be distributed to rural and poor areas.</p>
        </div>
        <div class="testimonials__slide">
          <h3 class="aftermovie-title display-1 display-1--light" style="font-family:AR">TOHFA - A Fruit Donation Drive</h3>
          <p style="font-family:PN;color:black;">In collaboration with SNU’s very own Feeding India Chapter, TOHFA was conducted over 6th and 7th september 2018 during which students and staff members could buy fruit packages (An apple, two bananas and a tetra-pack of chocolate milk) for 600+ students of local schools in and around Dadri. After an overwhelming response of over 650 donations, the Breeze Team witnessed one of our most successful initiatives to date.</p>
        </div>
        <div class="testimonials__slide">
          <div class="row">
            <h3 class="aftermovie-title display-1 display-1--light" style="font-family:AR">Break Free</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q0WmPR2z4oU" ></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- end testimonials -->
    </div>
  </div>

  <!--<div class="about__line"></div>
        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1 display-1--light">Contact Us</h1>
            </div>
        </div>

        <div class="row clients-testimonials" data-aos="fade-up">
            <div class="col-full">
                <div class="testimonials">

                  <div class="testimonials__slide">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/breeze/DSC_0630.JPG" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Prakamya Mishra</h5>
                        <p class="card-text">Contact: 9428169912<br>Email: pm669@snu.edu.in</p>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials__slide">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/breeze/DSC_0630.JPG" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Prakamya Mishra</h5>
                        <p class="card-text">Contact: 9428169912<br>Email: pm669@snu.edu.in</p>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials__slide">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/breeze/DSC_0630.JPG" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Prakamya Mishra</h5>
                        <p class="card-text">Contact: 9428169912<br>Email: pm669@snu.edu.in</p>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="testimonials__slide">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="images/breeze/DSC_0630.JPG" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Prakamya Mishra</h5>
                        <p class="card-text">Contact: 9428169912<br>Email: pm669@snu.edu.in</p>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>      <a href="#0"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>

                </div><!-- end testimonials -->
  </div>
  </div>
</section>
<!-- end s-about -->

<footer>
  <div class="row footer-main ">
    <div class="contactus">
      <div style="width:100px;" class="card" >
		  <img style="width:100px;height: 100px;" class="card-img-top" src="images/core/DSC_0859.JPG" alt="Card image">
        <div class="card-body">
			<p class="yellow_names"><b><span style="font-family:PN">Chairperson</span></b></p>
          <p style="font-family:PN">Nandini Kaushik <br><a href="tel:9599810757">(9599810757)</a></p>
          </div>
      </div>
		<div style="width:100px;" class="card" >
  <img style="width:100px;height: 100px;" class="card-img-top" src="images/core/DSC_0713.JPG" alt="Card image">
  <div class="card-body">
     <p class="yellow_names" style="font-family:PN"><b><span style="font-family:PN">Co-Chairperson</span></b><br></p>
    <p style="font-family:PN">Isha Tiwari <br> <a href="tel:9527062756">(9527062756)</a></p>

  </div>
</div>
		<div style="width:100px;" class="card" >
  <img style="width:100px;height: 100px;" class="card-img-top" src="images/core/5ab00158-6d57-4336-98a1-ee99a23eea20.jpg" alt="Card image">
  <div class="card-body">
     <p class="yellow_names" style="font-family:PN"><b><span style="font-family:PN">Public Relations</span></b><br></p>
    <p style="font-family:PN"><span style="font-family:PN">Vignesh Sridhar </span><br> <a href="tel:9677030542">(9677030542)</a></p>

  </div>
</div>
		<div style="width:110px;" class="card" >
  <img style="width:100px;height: 100px;" class="card-img-top" src="images/core/DSC_0748.JPG" alt="Card image">
  <div class="card-body">
  <p class="yellow_names" style="font-family:PN"><b><span style="font-family:PN">Partnerships</span></b><br></p>
    <p style="font-family:PN"><span style="font-family:PN">Anirudh Madhusudhanan</span><br><a href="tel:8130777904">(8130777904)</a></p>

  </div>
</div>

    </div>
     <div class="social_panel">

                <div><h4 style="text-align: center">Stay tuned</h4></div>
               <div class="social_handles"><a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook" aria-hidden="true"></i>   Facebook</a><br><a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram" aria-hidden="true"></i>   Instagram</a><br><a href="https://www.youtube.com/channel/UCq-fFlEMV4r1HPYZiQrrd7w/featured"><i class="fa fa-youtube" aria-hidden="true"></i>   YouTube</a></div>

    <!--
            <div class="col-six tab-full left footer-desc">

                <div class="footer-logo"></div>
                <div class="col-md-6">
                  <h4>Contact Us</h4>
                  <span><a><b style="color:#f9e026;">Chairperson</b>: Nandini Kaushik (9599810757)</a><br><a><b style="color:#f9e026;">Co-Chairperson</b>: Isha Tiwari (9527062756)</a><br><a><b style="color:#f9e026;">Public Relations</b>: Vignesh Sridhar (9677030542)</a><br><a><b style="color:#f9e026;">Parterships</b>: Anirudh Madhusudhanan (8130777904)</a><br></span>
                </div>
            </div>

            <div class="col-six tab-full right footer-subscribe">
            <div class="row">
              <div class="col-md-6">
                <h4>Stay tuned</h4>
                <span><a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook" aria-hidden="true"></i>   Facebook</a><br><a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram" aria-hidden="true"></i>   Instagram</a><br><a href="https://www.youtube.com/channel/UCq-fFlEMV4r1HPYZiQrrd7w/featured"><i class="fa fa-youtube" aria-hidden="true"></i>   YouTube</a></span>
              </div>
            </div>
-->

    <!--<div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>-->

  </div>
  </div>
  <!-- end footer-main -->

  <div class="row footer-bottom">
    <div class="col-twelve">
      <div class="copyright"> <span>© Copyright Breeze 2019</span> </div>
      <div class="go-top"> <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a> </div>
    </div>
  </div>
  <!-- end footer-bottom -->

</footer>
<!-- end footer -->

<!-- photoswipe background
    ================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
  <div class="pswp__bg"></div>
  <div class="pswp__scroll-wrap">
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
        <button class="pswp__button pswp__button--share" title=
                    "Share"></button>
        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
        <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
      <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>
<!-- end photoSwipe background -->

<!-- preloader
    ================================================== -->
<div id="preloader">
  <div id="loader">
    <div class="line-scale-pulse-out">
      <img src="images/breeze/cat.gif" id="cat" alt="">
      <!--<div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>-->
    </div>
  </div>
</div>

<!-- Java Script
    ================================================== -->
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
</body>
</html>
