<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Breeze'19</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/breeze/darklogo.ico" >
    <style media="screen">
    @font-face {
        font-family: AR;
        src: url(Atami-Regular.otf);
    }
    @font-face {
        font-family: ADR;
        src: url(Atami-Display-Regular.otf);
    }
    @font-face {
        font-family: PN;
        src: url(ProximaNova-Regular.ttf);
    }
    @font-face {
        font-family: PNB;
        src: url(ProximaNova-Bold.ttf);
    }
    </style>

</head>

<body id="top" style="background-color:white;">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/breeze/darklogo.png" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3 style="font-family:ADR">Navigation</h3>

                <ul class="header-nav__list">
                  <li ><a href="index.html" title="home" style="font-family:PN">Home</a></li>
                  <li><a href="events.html" title="clients" style="font-family:PN">Events & Registration</a></li>
                  <li ><a href="gallery.html" title="works" style="font-family:PN">Gallery</a></li>
                  <li class="current"><a href="sponsors.html" title="clients" style="font-family:PN">Sponsors</a></li>
                </ul>

                <!--<p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>-->

                <ul class="header-nav__social">
                  <li>
                      <a href="https://www.facebook.com/snu.breeze/"><i class="fa fa-facebook"></i></a>
                  </li>
                  <!--<li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>-->
                  <li>
                      <a href="https://www.instagram.com/breeze.snu/"><i class="fa fa-instagram"></i></a>
                  </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>-->
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a style="background-color: black;" class="header-menu-toggle" href="#0">
            <span style="background-color:black; " class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->


    <!-- clients
    ================================================== -->
    <section id="clients" class="s-clients">
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <!--<h3 class="subhead">Sponsors</h3>-->
                <h1 class="display-2" style="font-family:ADR">Sponsors</h1>
            </div>
        </div> <!-- end section-header -->

        <!--<div class="row clients-outer" data-aos="fade-up">
            <div class="col-full">

                    <a href="#0" title="" ><img src="images/clients/apple.png" /></a>
                    <a href="#0" title="" ><img src="images/clients/atom.png" /></a>
                    <a href="#0" title="" ><img src="images/clients/blackberry.png" /></a>
                    <a href="#0" title="" ><img src="images/clients/dropbox.png" /></a>
                    <a href="#0" title="" ><img src="images/clients/envato.png" /></a>
                    <a href="#0" title="" ><img src="images/clients/firefox.png" /></a>
                    <a href="#0" title="" ><img src="images/clients/joomla.png" /></a>
                    <a href="#0" title="" ><img src="images/clients/magento.png" /></a>
            </div> --><!-- end col-full -->
        <!--</div> --><!-- end clients-outer -->

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-2 text-center vcenter">
                    <img  src="images/breeze/Sponsors/24f76ab6-9355-4091-9e35-6b18d1441a29.png" class="img-responsive " style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/1200px-Reliance_Jio_Logo_(October_2015).svg.png" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/Bank of baroda.png" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/bank-of-india.jpg" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/Canara-banks new.gif" class="img-responsive" style="width:200px;">
                </div>
            </div><br>
            <div class="row justify-content-md-center">
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/HDFC logo.png" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/HORIZONTAL_yellow_BG.jpg" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/logoloading.png" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/msgOriginalsvg.png" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/My SUN.png" class="img-responsive" style="width:200px;">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-2 text-center vcenter">
                    <img src="" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/REGULAR.jpg" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/savartLogo.png" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="images/breeze/Sponsors/PNB Logo.png" class="img-responsive" style="width:200px;">
                </div>
                <div class="col-md-2 text-center vcenter">
                    <img src="" class="img-responsive" style="width:200px;">
                </div>
            </div>

        </div>

        <section id="clients" class="s-clients">
            <div class="row section-header" data-aos="fade-up">
                <div class="col-full">
                    <!--<h3 class="subhead">Sponsors</h3>-->
                    <h1 class="display-2" style="font-family:ADR">Partners</h1>
                </div>
            </div> <!-- end section-header -->

            <!--<div class="row clients-outer" data-aos="fade-up">
                <div class="col-full">

                        <a href="#0" title="" ><img src="images/clients/apple.png" /></a>
                        <a href="#0" title="" ><img src="images/clients/atom.png" /></a>
                        <a href="#0" title="" ><img src="images/clients/blackberry.png" /></a>
                        <a href="#0" title="" ><img src="images/clients/dropbox.png" /></a>
                        <a href="#0" title="" ><img src="images/clients/envato.png" /></a>
                        <a href="#0" title="" ><img src="images/clients/firefox.png" /></a>
                        <a href="#0" title="" ><img src="images/clients/joomla.png" /></a>
                        <a href="#0" title="" ><img src="images/clients/magento.png" /></a>
                </div> --><!-- end col-full -->
            <!--</div> --><!-- end clients-outer -->

            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/24f76ab6-9355-4091-9e35-6b18d1441a29.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/91.1FM.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/1200px-Reliance_Jio_Logo_(October_2015).svg.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/ATKT-eng (3).png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/BME_LOGO_PROF(1).jpg" class="img-responsive" style="width:200px;">
                    </div>
                </div><br>
                <div class="row justify-content-md-center">
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/Canvas laugh club logo.jpg" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/CollegeDesk Logo (1).jpg" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/collegemedia.svg" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/dubeat.JPG" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/DUExpress_logo.png" class="img-responsive" style="width:200px;">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/festPav Logo_HD.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/fests.info.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/frapp.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/furballstory.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/Logix City Center logo.jpg" class="img-responsive" style="width:200px;">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/logoloading.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/mycaptain.png" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/OhCampus Logo.jpg" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/socultures.jpg" class="img-responsive" style="width:200px;">
                    </div>
                    <div class="col-md-2 text-center vcenter">
                        <img src="images/breeze/Partners logo/tornado.PNG" class="img-responsive" style="width:200px;">
                    </div>
                </div>

            </div>
        <!--<div class="row clients-testimonials" data-aos="fade-up">
            <div class="col-full">
                <div class="testimonials">

                    <div class="testimonials__slide">

                        <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum.
                        Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori.
                        Excepturi nam cupiditate culpa doloremque deleniti repellat.</p>

                        <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Tim Cook</span>
                            <span class="testimonials__pos">CEO, Apple</span>
                        </div>

                    </div>

                    <div class="testimonials__slide">

                        <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                        Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>

                        <img src="images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Sundar Pichai</span>
                            <span class="testimonials__pos">CEO, Google</span>
                        </div>

                    </div>

                    <div class="testimonials__slide">

                        <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                        Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>

                        <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                        <div class="testimonials__info">
                            <span class="testimonials__name">Satya Nadella</span>
                            <span class="testimonials__pos">CEO, Microsoft</span>
                        </div>

                    </div>

                </div>--><!-- end testimonials -->

            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->




    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
        <div class="line-scale-pulse-out">
          <img src="images/breeze/cat.gif" id="cat"alt="">
          <!--<div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>-->
        </div>
      </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>

</html>
