<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
	<title>My Purchases</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nunito">
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/user.css" %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#e9e9e9">
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
		<div class="container-fluid">
        <a class="navbar-brand" href="/">BREEZE'18</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#modalEvent" data-toggle="modal">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/pronights/">Pro Nights</a></li>
			<li class="nav-item"><a class="nav-link" href="/accommodation/">Accommodation</a></li>
			<li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
            <li class="nav-item"><a class="nav-link" href="/partners">Partners</a></li>
             {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link active" data-toggle="dropdown">{{ user.profile.name }}
                    <i class="ion-android-arrow-dropdown icon-ion"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/me/">My Purchases</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/logout/">Logout</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
	</div>
	</div>
</nav>

	<div class="modal fade" id="error" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="background-color:#FFF0D9;">
				<div class="modal-header">
					<h4 class="modal-title">You have already registered in this event.</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="accsuccess" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="background-color:#FFF0D9;">
				<div class="modal-header">
					<h4 class="modal-title">Accommodation Registration Successful. Please check your email for further steps.</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="success" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="background-color:#FFF0D9;">
				<div class="modal-header">
					<h4 class="modal-title">Event Registration Successful. Please check your email for further steps.</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			</div>
		</div>
	</div>

	<div id="modalEvent" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content" style="background-color:#FFF0D9;">
				<div class="modal-header" style="background-color:#FFF0D9; padding-bottom: 0px !important;">
					<center>
						<h4 class="modal-title" style="font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Please Select Event Category</h4>
					</center>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-4">
							<h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Sports</h3>
							<a href="/events/sports">
								<img src="{% static 'assets/images/cat/sports.jpg' %}" class="img-fluid event-cat" alt="Sports Category">
							</a>
						</div>
						<div class="col-md-4">
							<h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Cultural</h3>
							<a href="/events/cultural">
								<img src="{% static 'assets/images/cat/cultural.jpg' %}" class="img-fluid event-cat" alt="Cultural Category">
							</a>
						</div>
						<div class="col-md-4">
							<h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Technical</h3>
							<a href="/events/technical">
								<img src="{% static 'assets/images/cat/technical.jpg' %}" class="img-fluid event-cat" alt="Cultural Category">
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if user.is_authenticated %}
	<div class="container-fluid">
		<div class="heading">
			<div class="container">
				<div class="row box1">
					<div class="col-sm-3 box pic">
						<div class="profile-pic">
							<img class="image-fluid" src="{% static "assets/images/user.png" %}"/>
						</div>
					</div>
					<div class="col-sm-7 box">
						<div class="row" id="text">
							<h3>{{ user.profile.name }}</h3>
						</div>
						<hr/>
						<h5>E-mail: {{ user.email }}</h5>
						<h5>Contact: {{ user.profile.contact }}</h5>
					</div>
				</div>
				<div class="row box1">
					<div class="col-sm-10 box">
						<center><h6>Payment Instructions</h6></center>
						To pay for a particular complete the following steps:
						<ol>
							<li>Download the TEZ app.<br><a href="https://g.co/tez/Ve85q" style="color:blue;">Android</a> or <a href="https://itunes.apple.com/us/app/tez-payments-app-by-google/id1193357041?mt=8" style="color:blue;">iOS</a></li>
							<li>Scan the QR code or enter the Phone Number or UPI ID to pay.</li>
							<li>Enter the Unique Registration Code in the description field on the app. <strong>DO NOT PAY </strong>without the <strong>Unique Registration Code</strong>.</li>
							<li>Pay individually for the events or accommodation opted for.</li>
							<li>Check your payment status after paying. If status <strong>IS NOT</strong> changed to <strong>PAID</strong> within <strong>24 HOURS</strong>. Contact Anant Garg (Finance Lead): <a href="tel:9654855633">9654855633</a></li>
							<li>For any generic queries call PR Head - Sneha Iyer: <a href="tel:8448774882">8448774882</a></li>
						</ol>
						<div class="text-center">
							<img class="qr" style="max-height:200px;" src="{% static "assets/images/upi-qr.png" %}"/>
							<h6 style="margin-top:15px;">Phone No.: 9654855633</h6>
							<h6>UPI ID: garg.anant1997-1@okhdfcbank</h6>
						</div>
					</div>
				</div>
				<div class="row box1">
					<div class="col-sm-10 box">
						<center><h4>My Purchases</h4></center>
					</div>
				</div>
				<div class="row box1">
					<p></p>
					<div class="col-sm-10 box" style="padding:0px;background-color:white;">
						<div class="panel-group" id="accordion">

							{% for attending in profile %}
							{% if attending.transaction_status == 'p' %}
							<div class="panel" style="background-color:#20fffb;">
							{% else %}
							<div class="panel" style="background-color:#e36e34;">
							{% endif %}
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#{{ attending.id }}">
											<h5 id="eventname">{{ attending.eventId.name }}</h5>
										</a>
									</h4>
								</div>
								<div id="{{ attending.id }}" class="panel-collapse collapse">
									<div class="panel-body">
										<h5>Amount Payable: {{ attending.payable }}</h5>
										<br>
										<h5>Status: {% if attending.transaction_status == 'p' %} Paid {% elif attending.transaction_status == 'u' %} Unpaid {% else %} Discrepancy {% endif %}</h5>
										<br>
										<h5>Unique Registration Code: {{ attending.registration_id }}</h5>
										<br>
									</div>
								</div>
							</div>
							{% endfor %}
							 {% for acc in accreg %}
							 {% if acc.transaction_status == 'p' %}
							<div class="panel" style="background-color:#20fffb;">
							{% else %}
							<div class="panel" style="background-color:#e36e34;">
							{% endif %}
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#{{ acc.id }}">
											<h5 id="eventname">{{ acc.packageId.name }} for {{ acc.number }}</h5>
										</a>
									</h4>
								</div>
								<div id="{{ acc.id }}" class="panel-collapse collapse">
									<div class="panel-body">
										<h5>Amount Payable: {{ acc.payable }}</h5>
										<br>
										<h5>Status: {% if acc.transaction_status == 'u' %} Unpaid {% else %} Paid {% endif %}</h5>
										<br>
										<h5>Unique Registration Code: {{ acc.registration_id }}</h5>
										<br>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<h1>You are not logged in.</h1>
	<h3>Render login page</h3>
	{% endif %}
	<script src="{% static 'assets/js/user.js' %}"></script>
</body>

</html>