@font-face {
	font-family: "Graphique";
	src: url(graphique.otf);
}

@font-face {
	font-family: "Montserrat Light";
	src: url(Montserrat-Light.otf);
}

@font-face {
	font-family: "Montserrat";
	src: url(Montserrat-Regular.otf);
}

.container-fluid{
		 padding-right: 0; 
		 padding-left: 0;  
		 margin-right: auto;
		 margin-left: auto;
	}
	.heading{
		background-image:url('../images/user.jpg');
		height:500px;
		border:1px solid black;
	}
	.container{
		margin-top:250px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
	}
	.box{
		padding:40px;
		background-color:white;
	}
	.box1{
		margin-left:150px;			
	}
	.profile-pic{
		margin-top:40px;
	}
	#text{
		padding:5px; 
		pading-bottom:1px; 
		padding-left:20px;
	}
	a:link,a:hover,a:visited,a:active{
	color:black;
	text-decoration:none;
}
#eventname{
	text-align:center; 
	padding:10px;
	font-family:'Nunito';
}
.panel-body{
	padding:10px;
}
.panel{
	border-bottom:1px solid black;
	border-collapse:collapse;
}
	@media only screen and (max-width: 768px) {
	/* For mobile phones: */
.heading{
	background-image:url('../images/user.jpg');
	height:400px;
	border:1px solid black;
}
.container{
	margin-left:10px;
	margin-top:70px;
	margin-left:auto;
	margin-right:auto;
	
}
.box1{
	margin-left:auto;
	margin-right:auto;
					
	}
.pic{
		display:none;
	}
#text{
	padding:5px; 
	pading-bottom:1px; 
	padding-left:30px;
}
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}