<!Doctype html>
{% load static %}

<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Club Dashbaord | Breeze'18</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'assets/css/accomodation.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/table2CSV.js' %}"></script>
</head>
<body style="background-color:#96C9C4;">
  <nav class="navbar navbar-inverse">
  <div class="container" style="margin-bottom:-15px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:white;" href="/">BREEZE'18</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/">Home</a></li>
		<li><a data-toggle="modal" href="#modalEvent">Events</a></li>
		<li><a href="/pronights/">Pro Nights</a></li>
    <li><a href="/accomodation/">Accomodation</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/partners">Partners</a></li>
		{% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.profile.name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/me/">My Purchases</a></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
		</li>
		{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div id="modalEvent" class="modal fade">
       <div class="modal-dialog">
           <div class="modal-content" style="background-color:#FFF0D9;">
               <div class="modal-header" style="background-color:#FFF0D9; padding-bottom: 0px !important;">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><center>
                   <h4 class="modal-title" style="font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Please Select Event Category</h4></center>
               </div>
            <div class="modal-body">
               <div class="col-md-4">
                 <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Sports</h3>
                 <a href="/events/sports/"><img src="{% static 'assets/images/cat/sports.jpg' %}" class="img-responsive event-cat" alt="Sports Category"></a>
               </div>
               <div class="col-md-4">
                 <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Cultural</h3>
                 <a href="/events/cultural/"><img src="{% static 'assets/images/cat/cultural.jpg' %}" class="img-responsive event-cat" alt="Cultural Category"></a>
               </div>
               <div class="col-md-4">
                 <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Technical</h3>
                 <a href="/events/technical/"><img src="{% static 'assets/images/cat/technical.jpg' %}" class="img-responsive event-cat" alt="Cultural Category"></a>
               </div>
                <div class="clearfix"></div>
            </div>
           </div>
       </div>
   </div>
   {% if user.username == 'breeze.events@snu.edu.in' or user.username == 'priyanshrastogi' %}
       <div class="row">
      <div id="logo" class="img-responsive"></div>
	<div class="row" id="form" style="background-color:#FFF0D9;">
    <legend><h1 style="font-size: 20px; letter-spacing: 5px;"><center>CLUB DASHBOARD</center></h1></legend>
    <div class="container" style="margin-bottom:25px;">
      <div class="row">
        <form action="/clubdashboard/" method="post">
        {% csrf_token %}
        <div class="col-sm-9">
          <div class="form-group">
            <center><label class="control-label">SELECT AN EVENT</label></center>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                <select class="form-control" name="event" id="event" required>
                  <option id="0">Please Select</option>
                  {% for event in events %}
                  <option value="{{ event.id }}" id="{{ event.name }}">{{ event.name }} - {{ event.parentClub }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 inputGroupContainer">
          <div class="form-group">
            <div class="inputGroupContainer">
              <div class="input-group" style="padding-top:20px;">
                <input type="hidden" name="event_name" id="event_name">
                <input type="submit" value="Submit" class="btn">
              </div>
            </div>
          </div>
        </div>
    </form>
      </div>
    <h5 style="margin-top:25px;">Event Selected: {{ event_name }}</h5>
    </div>
	<table class="table table-bordered table-responsive" id="regtable">
	<thead>
      <tr>
        <th>DateTime</th>
        <th>Registration Code</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Event</th>
        <th>Amount</th>
        <th>Payment Status</th>
        <th>Participants</th>
        <th>College</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
        {% for reg in registrations %}
      <tr>
        <td>{{ reg.created_at }}</td>
        <td>{{ reg.registration_id }}</td>
        <td>{{ reg.userId.profile.name }}</td>
        <td>{{ reg.userId.email }}</td>
        <td>{{ reg.userId.profile.contact }}</td>
        <td>{{ reg.eventId.name }}</td>
        <td>{{ reg.payable }}</td>
        <td>{% if reg.transaction_status == 'p' %} Paid {% elif reg.transaction_status == 'u' %} Unpaid {% else %} Discrepancy {% endif %}</td>
        <td>{{ reg.number_of_participants }}</td>
        <td>{{ reg.college }}</td>
        <td>
          <form action="/updateremarks/" method="post">
            {% csrf_token %}
            <input type="text" name="remarks" value="{{ reg.remarks }}">
            <input type="hidden" name="regId" value="{{ reg.id }}">
            <input type="submit" value="Update">
          </form>
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
  <center><input type="button" value="Export to CSV" onclick="exportToCSV();"></center>
  </div>
   </div>
   {% else %}
      <center>
        <h1>You are not authorized to access club dashboard.</h1>
      </center>
   {% endif %}

<script>
  $('select').change( function() {  
    var optionSelected = $("option:selected", this);
    var name = optionSelected.attr("id");
    $("#event_name").val(name);
  })

  function exportToCSV() {
    var csv = $("#regtable").table2CSV({
      delivery: 'value'
      });
      downloadFile('Registrations.csv', 'data:text/csv;charset=UTF-8,' + encodeURIComponent(csv));
  }

  function downloadFile(fileName, urlData) {
    var aLink = document.createElement('a');
    var evt = document.createEvent("HTMLEvents");
    aLink.download = fileName;
    aLink.href = urlData;
    aLink.click();
}
</script>
</body>
</html>
