<!Doctype html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration form</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'assets/css/form.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/form2.js' %}"></script>
</head>
<body style="background-color:#A0E19F;">

<div class="modal fade" id="passworderror" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="background-color:#FFF0D9;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Password don't match.</h4>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div id="logo" class="img-responsive"></div>
	<div class="row">
	<div class="col-sm-8 col-centered" id="form" style="background-color:#FFF0D9; padding-right:40px; padding-top: 1px;">
		<legend><h1 style="font-size: 20px; letter-spacing: 5px;"><center>RESET PASSWORD</center></h1></legend>
		<form action="/forgotPassword/{{ hashkey }}/?next=/forgotPassword/{{ hashkey }}/#passworderror" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label class="control-label">Password</label>
			<div class="inputGroupContainer">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
					<input name="password" placeholder="Password" class="form-control" type="password">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Password Again</label>
			<div class="inputGroupContainer">
				<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
				<input  name="confirmpass" placeholder="Password Again" class="form-control" type="password">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"></label>
			<div class="in">
			<input type="submit" class="btn btn-block" value="Set Password">
			</div>
		</div>
	</form>
	</div>
	</div>
</div>
</body>
</html>
