<!Doctype html>
{% load static %}
<head>
    <title>
        Events
    </title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/events.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
            .slideanim {visibility:hidden;}
    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }

    @keyframes slide {
      0% {
        opacity: 0;
        transform: translateY(70%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    @-webkit-keyframes slide {
      0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
    </style>
</head>
<body>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            //Preloader
            $(window).load(function () {
                preloaderFadeOutTime = 500;
                function hidePreloader() {
                    var preloader = $('.preloader');
                    preloader.fadeOut(preloaderFadeOutTime);
                }
                hidePreloader();
            });
        });
    </script>
    <!-- <div class="preloader">
        <hr/>
        <hr/>
        <hr/>
        <hr/>
    </div> -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="/">BREEZE'18</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link active" href="#modalEvent" data-toggle="modal">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/pronights/">Pro Nights</a></li>
            <li class="nav-item"><a class="nav-link" href="/accommodation/">Accommodation</a></li>
            <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
            <li class="nav-item"><a class="nav-link" href="/partners">Partners</a></li>
             {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">{{ user.profile.name }}
                    <i class="ion-android-arrow-dropdown icon-ion"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/me/">My Purchases</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/logout/">Logout</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>        

<div id="modalEvent" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#FFF0D9;">
            <div class="modal-header" style="background-color:#FFF0D9; padding-bottom: 0px !important;">
                <center>
                    <h4 class="modal-title" style="font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Please Select Event Category</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                <div class="col-md-4">
                    <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Sports</h3>
                    <a href="/events/sports">
                        <img src="{% static 'assets/images/cat/sports.jpg' %}" class="img-fluid event-cat" alt="Sports Category">
                    </a>
                </div>
                <div class="col-md-4">
                    <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Cultural</h3>
                    <a href="/events/cultural">
                        <img src="{% static 'assets/images/cat/cultural.jpg' %}" class="img-fluid event-cat" alt="Cultural Category">
                    </a>
                </div>
                <div class="col-md-4">
                    <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Technical</h3>
                    <a href="/events/technical">
                        <img src="{% static 'assets/images/cat/technical.jpg' %}" class="img-fluid event-cat" alt="Cultural Category">
                    </a>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="container" style="padding-right: 0px;
        padding-left: 0px;">
        <div class="headingimg text-center">
        <img class="img-responsive ribbon" id="contactimg" src="{% static "assets/images/contactimg.svg" %}">
        <h3 class="text-center ribbonheading">Events</h3>
        </div>
        <div class="container" style="padding-top:75px;">
                <div class="heading-cultural">
                    <h1>CULTURAL</h1>
                </div>
                <div class="events">
                    <div class="category">
                        <div class="row">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/Oratory.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Oratory</strong>
                                </div>
                                <div class="about">
                                    <p>If you're one for thinking on your feet, finding your way around a passionate Shakespearean monologue or battling it out with a war of words, it's all right here. Give direction to your opinions at BREEZE’18.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/oratory/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
                    <div class="category">
                        <div class="row">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/music.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Music</strong>
                                </div>
                                <div class="about">
                                    <p> Weave the tunes and string them together just right, whether you're using your voice or an instrument. The language of music is universal and you've just got to hit the beats to get the message across. We’re on the lookout for some breathtaking musical talent. Sign up if you think you can make your way to the highs.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/music/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/mun.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Model UN</strong>
                                </div>
                                <div class="about">
                                    <p>
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/mun/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/Miscellaneous.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Miscellaneous</strong>
                                </div>
                                <div class="about">
                                    <p>For all those willing to entice themselves with all things out-of-the-ordinary, Breeze has plenty loaded. Right from interesting food challenges to extreme cubing - Here's the place to be.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/miscellaneous/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/quiz.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Literary and Quizzing</strong>
                                </div>
                                <div class="about">
                                    <p>Ready yourself to engage in a battle of wit and quick-thinking, armored with pieces of knowledge across domains. It is not just a game of memory, but a puzzling back and forth of logic. Connect the facts and concoct an answer. It's never as easy as it looks.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/quizzing/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/fashion.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Fashion and Photography</strong>
                                </div>
                                <div class="about">
                                    <p>Fashion is the style statement made by any individual defined primarily by what their wearing. It's represents everything from the glamour of an evening gown to the comfort of pajamas. Come live fashion, the 90s way.

                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/fashion/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/Drama.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Drama</strong>
                                </div>
                                <div class="about">
                                    <p>Got a flare for the dramatic? Get those emotions flowing and showcase your talents at the multitude of events for those of you with a story in your heart.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/drama/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/dance.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Dance</strong>
                                </div>
                                <div class="about">
                                    <p>Get your heart pumping and feet tapping to the evergreen beats of the 90's with our exciting range of events for all you dancers out there!
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/dance/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/business.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Business and Entrepreneurship</strong>
                                </div>
                                <div class="about">
                                    <p>Aspire to make it big in the corporate world? This is one opportunity you wouldn’t want to miss out on. Prepare to engage in some intense brainstorming, planning and execution, all while tackling a billion intricacies that hinder your progress.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/bande/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/Gaming.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Gaming</strong>
                                </div>
                                <div class="about">
                                    <p>Answer the call of duty. Make your way to SNU and ko your competition in this year's edition of breezes gaming events. Level up. Play on.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/cultural/gaming/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
<script>
        $(document).ready(function(){
            $(window).scroll(function(){
                $(".slideanim").each(function(){
                  var pos = $(this).offset().top;
        
                  var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                      $(this).addClass("slide");
                    }
                });
            });
        });
        </script>
</html>