<!Doctype html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ event.name }} Registration</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/register_login_form.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/form.js' %}"></script>
</head>
<body style="background-color:#A0E19F;">
  <div class="container">
    <div id="logo" class="img-responsive"></div>
    <div class="row">
      <div class="col-sm-8 col-centered" id="form" style="background-color:#FFF0D9; padding-right:40px; padding-top: 1px;">
        <legend><h1 style="font-size: 20px; letter-spacing: 5px;"><center>REGISTRATION FORM</center></h1></legend>
        <div class="form-group">
          <label class="control-label">NAME</label>
          <div class="inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input name="name" value="{{ user.profile.name }}" class="form-control" type="text" readonly>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label">E-MAIL</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" value="{{ user.email }}" class="form-control" type="text" readonly>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">EVENT NAME</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                <input  name="name" value="{{ event.name }}" class="form-control"  type="text" readonly>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">PAYABLE AMOUNT</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                <input  name="name" id="payable" value="{{ event.fee }}" class="form-control"  type="text" readonly>
              </div>
            </div>
          </div>
          
          <input id="fee" type="hidden" value="{{ event.fee }}">
          <input id="fee_type" type="hidden" value="{{ event.fee_type }}">
          <input id="minnumber" type="hidden" value="{{ event.min_number }}">
          <input id="maxnumber" type="hidden" value="{{ event.max_number }}">

            <form class="form" id="evform" action="/events/register2/?next=/me/#error" method="post">
              <div class="form-group">
            <label class="control-label">NUMBER OF PARTICIPANTS</label>
            <div class="inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                <input  name="number" id="number" class="form-control" min="1" max="99" type="number" onchange="updatePayable(this.value);" required>
              </div>
            </div>
          </div>

              <div class="form-group">
                <label class="control-label">COLLEGE OR UNIVERSITY</label>
                <div class="inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-education"></i>
                    </span>
                    <input name="college" id="college" placeholder="Please Enter College Name" class="form-control" type="text">
                  </div>
                </div>
              </div>
              <input type="button" class="btn" style="margin-top: 25px;" value="Confirm" onclick="validateAndSubmit();">
              <input type="hidden" name="event" value="{{ event.id }}">
              {% csrf_token %}
            </form>
            <button type="button" onclick="location.href='/'" class="btn" style="margin-top: 25px;">Cancel</button>
          </div>
        </div>

    </div>
  </div>
</div>
<script>
  function updatePayable(number) {
    var fee = $("#fee").val();
    if($("#fee_type").val() == 'head') {
      var payable = (fee*number).toFixed(2);
      document.getElementById('payable').value = payable;
    }
  }  

  function validateAndSubmit() {
    if (parseInt($("#number").val()) < parseInt($("#minnumber").val()) || $("#number").val() == "") {
      alert("This event requires minimum "+ $("#minnumber").val()+" participants.");
    }
    else if (parseInt($("#number").val()) > parseInt($("#maxnumber").val())) {
      alert("Only maximum "+ $("#maxnumber").val()+" participants are allowed in this event.");
    }
    else if ($("#college").val() == "") {
        alert("College Name is required.")
    }
    else {
      $("#evform").submit();
    }
  }
</script>
</body>
</html>
