<!Doctype html>
{% load static %}
<head>
    <title>
        Events
    </title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/events.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
            .slideanim {visibility:hidden;}
    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }

    @keyframes slide {
      0% {
        opacity: 0;
        transform: translateY(70%);
      }
      100% {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    @-webkit-keyframes slide {
      0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
    </style>
</head>
<body>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="/">BREEZE'18</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link active" href="#modalEvent" data-toggle="modal">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="/pronights/">Pro Nights</a></li>
            <li class="nav-item"><a class="nav-link" href="/accommodation/">Accommodation</a></li>
            <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
            <li class="nav-item"><a class="nav-link" href="/partners">Partners</a></li>
             {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">{{ user.profile.name }}
                    <i class="ion-android-arrow-dropdown icon-ion"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/me/">My Purchases</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/logout/">Logout</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>

<div id="modalEvent" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:#FFF0D9;">
            <div class="modal-header" style="background-color:#FFF0D9; padding-bottom: 0px !important;">
                <center>
                    <h4 class="modal-title" style="font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Please Select Event Category</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Sports</h3>
                        <a href="/events/sports">
                            <img src="{% static 'assets/images/cat/sports.jpg' %}" class="img-fluid event-cat" alt="Sports Category">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Cultural</h3>
                        <a href="/events/cultural">
                            <img src="{% static 'assets/images/cat/cultural.jpg' %}" class="img-fluid event-cat" alt="Cultural Category">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h3 lass="modal-title" style="text-align:center; font-size: 20px; letter-spacing: 5px;font-family:'Montserrat';">Technical</h3>
                        <a href="/events/technical">
                            <img src="{% static 'assets/images/cat/technical.jpg' %}" class="img-fluid event-cat" alt="Cultural Category">
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="container" style="padding-right: 0px;
        padding-left: 0px;">
<div class="headingimg text-center">
        <img class="img-responsive ribbon" id="contactimg" src="{% static "assets/images/contactimg.svg" %}">
        <h3 class="text-center ribbonheading">Events</h3>
        </div>
        <div class="container" id="cult">
        <div class="heading-technical">
                <h1>TECHNICAL</h1>
            </div>
            <div class="events">
                    <div class="category">
                        <div class="row">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/whiz.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Whiz Games</strong>
                                </div>
                                <div class="about">
                                    <p>Answer the call of duty. Make your way to SNU and ko your competition in this year's edition of breezes gaming events. Level up. Play on.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/technical/whizgames/">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="category">
                        <div class="row">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/robotics.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Robotics and Automation</strong>
                                </div>
                                <div class="about">
                                    <p>Heavy metal and molten steel. Hammer your way through gruelling rounds of the robotics events at breeze 2018 and engrave your names on the hall of fame.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/technical/robotics">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/design.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Design and Build</strong>
                                </div>
                                <div class="about">
                                    <p>Designing is an art that encompasses both visualization and the meticulous transformation of that vision into reality. With events that get you engaged in structuring and building while also testing your aesthetic acumen, you're in for a treat!
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="/events/technical/design_build">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="category">
                        <div class="row slideanim">
                            <div class="image col-sm-4">
                            <div style="width: 100%;height: 200px;background-image: url({% static "assets/images/Coding.jpg" %});background-size: cover;"></div>
                            </div>
                            <div class="text col-sm-8">
                                <div class="title">
                                    <strong>Coding</strong>
                                </div>
                                <div class="about">
                                    <p>Prepare yourselves for a data science spree like no other. We’ve got the whole package right here for you.
                                    </p>
                                </div>
                                <div class="footer">
                                    <p>
                                        <a class="btn" href="http://hackdata.in">REGISTER</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            

        </div>
</body>
<script>
        $(document).ready(function(){
            $(window).scroll(function(){
                $(".slideanim").each(function(){
                  var pos = $(this).offset().top;
        
                  var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                      $(this).addClass("slide");
                    }
                });
            });
        });
        </script>
</html>